body, article, head, section, p, img, form, input, div, span{
  border: 0;
  margin: 0;
  padding: 0;
}

@font-face {
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'neutral-regular', sans-serif;}

  /*Links*/
  a, a:visited {
    color: rgba(127,127,127, 1);
    text-decoration: none;
  }

  a:hover, a:active {
    color: rgba(50,50,50,1);
  }

  .section__cntrContentAlgn {
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 85vw;
    max-width: 492px;
    height: auto;
    margin: auto;
  }

  section {
    position: relative;
    width: 100%;
    height: calc(100vh - 16px);
  }

  p {
    color: rgba(127,127,127,1);
    font-size: 16px;
    line-height: 32px;
  }

  section p+p {
    margin-top: 32px;
  }

  .firstWord {
    color: rgba(50,50,50, 1);
  }

  .top {
    background: rgba(50,50,50,1) url("../assets/images/bg.jpg") no-repeat center center;
    background-size: cover;
  }

  .bottom--color {
    background-color: rgba(230,230,230,1);
  }

  .bottom__content {
    position: relative;
    top: -16px;
    opacity: 0;
    max-height: calc(100vh - 64px);
  }

  .bottom__wrap{
    display: block;
    overflow-y: visible;
    max-height: calc(100vh - 64px);
  }

  form {
    display: inline-flex;
    display: -webkit-inline-flex;
    margin-top: 72px;
    border-top: 4px solid rgba(127,127,127,.25);
    width: 100%;
  }
  
  form input {
    font-size: 32px;
    padding: 24px 0 0 0;
    color: rgba(127,127,127,.25);
    text-decoration: none;
  }
  
  form input[type="email"] {
    width: 93%;
  }
  
  form input[type="submit"] {
    width: 7%;
    font-size: 40px;
    text-align: right;
  }
  
  @-webkit-keyframes shake{
   0% {left: -5px;}
   50% {left: 5px;}
   100% {left: 0;}
 }
 @keyframes shake{
   0% {left: -5px;}
   50% {left: 5px;}
   100% {left: 0;}
 }
 
 .shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  position: relative;
}

form input:focus{
 outline: none;
}

:-webkit-input-placeholder {
 color: rgba(127,127,125, .25);
}
:-moz-placeholder { 
 color: rgba(127,127,125, .25);
}
:-ms-input-placeholder {
 color: rgba(127,127,125, .25);
}

.form__active {
  border-color: rgba(127,127,127,1);
}

.form__active--type {
  color: rgba(127, 127, 127, 1);
}
.form__active--error {
  color: rgba(255,113,113,1);
}
footer {
  background-color: rgba(230,230,230,1);
  width: 100%;
  position: relative;
  height: 0px;
  top: -24px;
}

footer p {
  display: inline;
  font-size: 12px;
  margin-top: 0;
  line-height: 0;
}
.footer__content {
  position: relative;
  height: 24px;
  padding: 0 24px;
  text-align: right;
}

@media only screen and (max-width: 492px){
  
  form {
    margin-top: 32px;
  }
  
  .bottom {
    overflow-y: scroll;
  }

  footer p {
    font-size: 8px;
  }

}

@media only screen and (max-height: 567px){
  
  p {
    font-size: 14px;
    line-height: 28px;
  }
  .bottom__wrap{
    overflow: auto;
  }

}
